modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx vite --config vite.local.config.ts --port 5000 --host 0.0.0.0"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 5000

[[ports]]
localPort = 33119
externalPort = 4200

[[ports]]
localPort = 33423
externalPort = 5173

[[ports]]
localPort = 36023
externalPort = 6800

[[ports]]
localPort = 37073
externalPort = 3000

[[ports]]
localPort = 37421
externalPort = 3001

[[ports]]
localPort = 39125
externalPort = 8000

[[ports]]
localPort = 41991
externalPort = 3003

[[ports]]
localPort = 42217
externalPort = 3002

[[ports]]
localPort = 42337
externalPort = 8080

[[ports]]
localPort = 45259
externalPort = 6000

[[ports]]
localPort = 46299
externalPort = 8008
